body {
    margin: 0;
    height: max-content;
    margin-bottom: 900px;
}

.style-script-regular {
    font-family: "Style Script", cursive;
    font-weight: 600;
    font-style: normal;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

.arvo-regular-bold {
    font-family: "Arvo", serif;
    font-weight: 600;
    font-style: italic;
}

.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}



.pkuthuru {
    width: 95%;
    height: 8000px;
    border: 1px solid black;
    margin: auto;

}

.bg_video {
    height: 29vh;
    width: 99.6%;
    border-style: hidden;
    padding: 2px;
    background-color: black;
}

#photo1 {
    width: 100%;
    height: 40vh;
    background-image: url("img/photo1.png");
    object-fit: fill;
    background-size: 100% 100%;
    margin: 0%;
    size: large;
    text-align: center;
    text-decoration: blueviolet;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clock {
    font-size: 5.7rem;
    font-weight: bold;
}

#letter {
    font-size: 6.3rem;
    color: rgb(0, 51, 255);
}

#we {
    font-size: 3.2rem;
    color: rgb(255, 0, 102);
    letter-spacing: 0cm;
    font-weight: bolder;
}

#pavan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#save {
    margin: auto 0;
    font-size: 2.8rem;
    color: black;
    word-spacing: 2px;
}

#date {
    color: rgb(255, 0, 102);
    font-size: 3.5rem;
    margin-left: 15px;
    word-spacing: 5px;
    font-weight: bolder;
}

.button {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 50px auto 0px;
    display: block;
    background-color: rgb(255, 0, 102);
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 25px rgba(255, 0, 0, 0.5);
}

.button:hover {
    background-color: rgb(252, 65, 140);
    /* Change background color on hover */
}

.button {
    width: 200px;
    height: 65px;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
    height: 34vh;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

/* 
#time {
    color: black;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    margin-left: -50px;
    word-spacing: -2px;
    margin-top: -7PX;

}

#pslid {
    height: 50px;
    width: 40px;
    border: 1px solid red;
    background-color: blue;
    margin: 30px;

}

#bot {
    background-color: rgb(240, 68, 68);
    color: white;
    width: 70px;
    letter-spacing: 4px;
    height: 25px;
    margin-top: 20px;
} */

#box3 {
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: 20px;
}

.box3-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MwedsW {
    font-size: 4.7rem;
    word-spacing: 5px;
    text-align: center;

}

#flo1 {
    margin: 0 auto 0;
}

#flo1 img {
    width: 250px;
    height: 170px;
}

#fbox1 {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#name {
    color: red;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 0;

}

.simg {
    width: 45vw;
    height: 15vh;
}

.name-b-img {
    position: relative;
    bottom: 0;
}

#fun {
    color: black;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 8px;
    margin-top: 10px;
}


#diam {
    text-align: center;
}

/* llll */

.mabox1img {
    height: 41vh;
    width: 85%;
    outline: 9px solid rgb(0, 0, 0);
}

.part-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxs1 {
    position: relative;
    width: 85%;
    margin-top: 55px;
    margin-bottom: 40px;
}

.flower {
    position: absolute;
    top: -100px;
    right: -80px;
    width: 300px;
    height: 300px;
}

.square {
    width: 40px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    z-index: -1;
    transform: rotate(45deg);
    position: absolute;
    bottom: -28px;
    left: 40px;
}


.box {
    height: 27vh;
    margin: auto;
    outline: 9px solid black;
    padding-left: 50px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.text {
    font-size: 42px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}
.text p{
    line-height: 1.4;
    margin-top: 0;
    
}

.heading {
    font-size: 4.5rem; 
    font-family: "Style Script", cursive;
    font-weight: 600;
    color: rgb(180, 41, 41);
    text-align: start;
}

.boxbutton{
    margin: 0;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.heading1{
    font-size: 5rem;
    text-align: center;
}

.box2-1{
    font-size:3.3rem;
}

.text{
    line-height: 1.4;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

